#root { /*color variables  */
  --light-purple: #f3e6f3;
  --btw-purple: #eed6ea;
  --dark-purple: #843786;
  --dark: #330C2F;
  --med-purple: #b182b2;
  --beige: #eadeda;
  --light-beige: #f6f0ef;
  background-color: var(--light-beige);
  
}


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;
  box-sizing: border-box;/* allows scrolling */
  
}

.nav_col {
  display: flex;
  flex-direction: column;

  flex: 0 0 30%; 
  width: 600px;
  background-color: var(--beige);
  padding: 35px;

  box-shadow: 5px 0 25px 3px #7c287d63;
}

.nav_col h1, .about h1 {
  color: var(--dark-purple);
}

.nav_col h2, .about h2 { /* typing text */
  color: var(--med-purple);
}

.nav_col .row { /* for github / linkedin */
  gap: 20px;
  margin: 30px 0;

  display: flex;
  justify-content: left;
}

 a { /* github, linkedin */
  text-decoration: none;
  
  background-color: var(--med-purple);
  border-radius: 10px;

  color: var(--light-beige);

  padding: 0.75em 1em;

  width: fit-content;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap:15%;


  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
} 


 a:hover {
  text-decoration: none;
  color:  var(--light-beige);
  background-color: var(--dark-purple);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

 a img {
width: 30px;
}


.nav_col button {/* category selection */
  all: unset;
  cursor: pointer; 
  color: var(--med-purple);
  background-color: transparent;

  text-align: left;

  font-size: large;
  font-weight: bold;
  padding: 15px 0px;
}

.nav_col .selected {
  font-size: x-large;
  color: var(--dark-purple);
  border: 0px;

}






.main_component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  height: 100vh;
  flex: 1; /* dont grow dont shrink */

  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px 10px 0px 65px;
}



/* about */


.circle-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 7px solid var(--med-purple);


  /* wrap */
    float: left;
    margin: 0 15px 15px 0;
    width: 200px;
}

.circle-image img {
  position: relative;
  /* align-self: center; */
  width: 120%;
}



/* projects */



.projTile {
  background-color: var(--light-purple);
  box-shadow: 8px 8px 8px 2px #7c287d6f;


  width: 80%;
  margin: 0 0 80px 0;
  border-radius: 10px;

  padding: 20px;
}

.projTile img {
  width: 100%;
  height: 10%;
  max-height: 300px;
  object-fit: cover;
  object-position: center top;
}

.projName {
  font-size: large;
  color: var(--dark-purple);
  text-align: left;
  font-weight: bold;
}

.date {
  font-size: medium;
  color: var(--med-purple);
  font-weight: bold;
  margin-left: auto; /* push to right */
}
.description {
  color: var(--dark-purple);

}

/* experience */
.experienceTile {
  background-color: var(--light-purple);
  box-shadow: 8px 8px 8px 2px #7c287d6f;


  width: 80%;
  margin: 0 0 80px 0;
  border-radius: 10px;

  padding: 20px;
}

.experienceTile img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center bottom;
}

.role {
  font-size: large;
  color: var(--dark-purple);
  text-align: left;
  font-weight: bold;
}

.companyClickable {
  color: var(--med-purple);
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: large;
}

.companyClickable:hover {
  background-color: var(--btw-purple);
  box-shadow: none;
  color: var(--med-purple);

}


.experienceTile .date {
  font-size: medium;
  color: var(--med-purple);
  font-weight: bold;
  margin-left: auto; /* push to right */
}
.experienceTile .description {
  color: var(--dark-purple);

}


/* leadership */
.leadershipTile {
  background-color: var(--light-purple);
  box-shadow: 8px 8px 8px 2px #7c287d6f;


  width: 80%;
  margin: 0 0 80px 0;
  border-radius: 10px;

  padding: 20px;
}

.clubRow {
  color: var(--med-purple);
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px
}

.leadershipTile .image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center center;
}

.leadershipTile .logo {
  height: 100px;
  border-radius: 50%;

}

.leadershipTile .role {
  font-size: large;
  color: var(--dark-purple);
  text-align: left;
  font-weight: bold;
}



.leadershipTile .date {
  font-size: medium;
  color: var(--med-purple);
  font-weight: bold;
  margin-left: auto; /* push to right */
}
.leadershipTile .description {
  color: var(--dark-purple);

}




/* Tags */
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags {
  font-size: 0.8rem;
  padding: 3px 8px;
  background-color: white; /* light pink */
  color: var(--dark-purple);
  border-radius: 12px;
  white-space: nowrap;
  transition: transform 0.2s, background-color 0.2s;
}

.tags:hover {
  background-color: rgb(247, 245, 245);
  transform: translateY(-1px);
}